<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <!-- Local Server-->
    <!--<add key="ServerAddress" value="192.168.125.132:4530" />
    <add key="ApplicationId" value="" />-->

    <!-- Photon Load-Tests Server-->
    <add key="ServerAddress" value="159.8.0.216:4530" />
    <add key="ApplicationId" value="de80125b-5e81-429f-89be-8a830b496a80" />
 
    <!-- Possible Settings: Tcp, Udp -->
    <add key="Protocol" value="Tcp" />
    <!-- reliable event sending settings -->
    <add key="SendReliableData" value="true" />
    <add key="ReliableDataChannel" value="0" />
    <add key="ReliableDataSendInterval" value="500" />
    <add key="ReliableDataSize" value="40" />

    <!-- unreliable event sending settings -->
    <add key="SendUnreliableData" value="true" />
    <add key="UnreliableDataChannel" value="0" />
    <add key="UnreliableDataSendInterval" value="33" />
    <add key="UnreliableDataSize" value="40" />
    <add key="FlushInterval" value="60000" />
    <add key="FlushReliable" value="true" />
    <add key="FlushChannel" value="1" />

    <!-- Loadbalancing Settings -->
    <!-- LobbyType: 0 = default, 2 = SQL -->
    <add key="LobbyType" value="0" />
    <add key="NumLobbies" value="1"/>

    <!-- game settings -->
    <add key="NumGamesPerLobby" value="10" />
    <add key="NumClientsPerGame" value="2" />

    <!-- additionally to the "Game Clients", there will be a number of clients that stay in the lobby and receive lists there... -->
    <add key="NumClientsPerLobby" value="0"/>

    <!-- join, quit and disconnect interval in seconds; 0 = stay in game forever -->
    <add key="TimeInGame" value="250" />

    <!-- true to disconnect actively after each quit, otherwise let connection timeout from server -->
    <add key="ActiveDisconnect" value="true" />
    <add key="UseEncryption" value="false" />
    <add key="PingInterval" value="1000" />
    <add key="StartupInterval" value="500" />
    <add key ="Plugins" value="CaAuthoritative"/>

    <!-- setup for game client -->
    <add key="GameAssembly" value="AuthoritativeBot.dll" />
    <add key="GameType" value="SocialPoint.Multiplayer.NetworkClientFactory" />
  </appSettings>
</configuration>
