<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    package="es.socialpoint.unity.notification">

    <!-- Required configuration in game manifest -->
    <!--
    <permission 
        android:name="[PACKAGE_NAME].permission.C2D_MESSAGE" 
        android:protectionLevel="signature" />
    <uses-permission android:name="[PACKAGE_NAME].permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
     -->

  <application>

    <!-- Local Notifications receiver-->
    <receiver
        android:name="es.socialpoint.unity.notification.AlarmReceiver"
        android:exported="true"/>

    <service
        android:name="es.socialpoint.unity.notification.TokenListenerService"
        android:exported="false" >
        <intent-filter>
            <action android:name="com.google.android.gms.iid.InstanceID" />
        </intent-filter>
    </service>

    <!-- Required from push notifications -->
    <!-- <meta-data android:name="GOOGLE_API_PROJECT_NUMBER" android:value="[API_PROJECT_NUMBER]" /> -->

    <!-- Required configuration in game manifest -->
    <!-- Remote Notifications receiver-->
    <!-- 
    <receiver 
        android:name="es.socialpoint.unity.notification.PushNotificationReceiver" 
        android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter >
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="[PACKAGE_NAME]" />
            </intent-filter>
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE"></action>
          <category android:name="[PACKAGE_NAME]" />
         </intent-filter>
    </receiver> 
    -->
  </application>
</manifest>
