<?xml version="1.0" encoding="Windows-1252"?>
<Configuration>

  <!-- Single Instance: Source + Target in one -->
  <StardustS2S>

    <ConfigServer
      IPAddress="0.0.0.0"
      Port="6060"
      ListenBacklog="5">
    </ConfigServer>

    <Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			PerInstanceShadowCopyCaches="true">
    </Runtime>

    <Applications Default="Stardust">
      <!-- <Application
				Name="Stardust"
				BaseDirectory="Stardust\Stardust.S2S"
				Assembly="Stardust.S2S.Server"
				Type="Photon.Stardust.S2S.Server.Application"
				ForceAutoRestart="true"
				ExcludeFiles="config">
      </Application> -->
      <Application
				BaseDirectory=""
				Name="Stardust"
				Assembly="AuthoritativeBot"
				Type="SocialPoint.Network.StardustApplication"
				ForceAutoRestart="true"
				ExcludeFiles="config">
      </Application>

    </Applications>

  </StardustS2S>

</Configuration>
