<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <!-- Server Address-->
	<add key="ServerAddress" value="" />
	<add key="ApplicationId" value="" />
    
    <!-- Possible Settings: Tcp, Udp -->
    <add key="Protocol" value="Udp" />
    <!-- reliable event sending settings -->
    <add key="SendReliableData" value="true" />
    <add key="ReliableDataChannel" value="0" />
    <add key="ReliableDataSendInterval" value="500" />
    <add key="ReliableDataSize" value="40" />
    
    <!-- unreliable event sending settings -->
    <add key="SendUnreliableData" value="true" />
    <add key="UnreliableDataChannel" value="0" />
    <add key="UnreliableDataSendInterval" value="33" />
    <add key="UnreliableDataSize" value="40" />
    <add key="FlushInterval" value="60000" />
    <add key="FlushReliable" value="true" />
    <add key="FlushChannel" value="1" />
    
    <!-- Loadbalancing Settings -->
    <!-- LobbyType: 0 = default, 2 = SQL -->
    <add key="LobbyType" value="0" />
    <add key="NumLobbies" value="1"/>
    
    <!-- game settings -->
    <add key="NumGamesPerLobby" value="150" />
    <add key="NumClientsPerGame" value="4" />
    
    <!-- additionally to the "Game Clients", there will be a number of clients that stay in the lobby and receive lists there... -->
    <add key="NumClientsPerLobby" value="0"/>
    
    <!-- join, quit and disconnect interval in seconds; 0 = stay in game forever -->
    <add key="TimeInGame" value="300" />
    
    <!-- true to disconnect actively after each quit, otherwise let connection timeout from server -->
    <add key="ActiveDisconnect" value="true" />
    <add key="UseEncryption" value="false" />
    <add key="PingInterval" value="1000" />
    <add key="StartupInterval" value="50" />
  </appSettings>
</configuration>