<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418960146254-ju6nae2o3982hn53grcd5944p5i0895s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418960146254-ju6nae2o3982hn53grcd5944p5i0895s</string>
	<key>API_KEY</key>
	<string>AIzaSyDLlh5HBke1nmSk7tE2OFJOiIHb08csZn8</string>
	<key>GCM_SENDER_ID</key>
	<string>418960146254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.socialpoint.MobileBaseGame</string>
	<key>PROJECT_ID</key>
	<string>mobile-base-game-83300304</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-base-game-83300304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:418960146254:ios:9c2a724cbd6cf2b0</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-base-game-83300304.firebaseio.com</string>
</dict>
</plist>
