<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147213117253-g9ecqkie37erm7rgoh3edce9nhk8ieog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147213117253-g9ecqkie37erm7rgoh3edce9nhk8ieog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>147213117253-assvru42b370q8g8s4nb795vvnd60i5l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1u2Xc_dS3utP09gjKU5fa8m3CKUgTFjA</string>
	<key>GCM_SENDER_ID</key>
	<string>147213117253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>game.unitybasegame</string>
	<key>PROJECT_ID</key>
	<string>unity-base-game-94125717</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-base-game-94125717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147213117253:ios:2939643728b146a8</string>
	<key>DATABASE_URL</key>
	<string>https://unity-base-game-94125717.firebaseio.com</string>
</dict>
</plist>